{
  "DataBase": {
    "ConnectionStrings": {
      "MSSql": "Data Source={DBServer};Initial Catalog={DBName};User ID={DBUser};Password={DBPwd}; TrustServerCertificate=True; MultipleActiveResultSets=True",
      "AzureDB": ""
    },
    "DBServer": "(localhost)\\SQLEXPRESS",
    "DBName": "<DB Name",
    "DBUser": "<DB User>",
    "DBPwd": "<DB Password>",
    "AZDBServer": "(localhost)\\SQLEXPRESS",
    "AZDBName": "<DB Name>",
    "AZDBUser": "<DB User>",
    "AZDBPwd": "<DB Password>"
  }
}