@inject BlazorServerApp.Stores.Counter2Store.CounterStore _counterStore;
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorServerApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter2">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter 2 [@_counterStore.GetState().Count]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sales">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sales data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="order">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Order Entry
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teams">
                <span class="me-3 h4"><iconify-icon icon="fluent:people-team-24-regular"></iconify-icon></span>  Teams
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="templated">
                <span class="me-3 h4"><iconify-icon icon="icomoon-free:insert-template"></iconify-icon></span> Templated Components
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="formvalidations">
                <span class="me-3 h4"><iconify-icon icon="bi:clipboard2-check"></iconify-icon></span> Form Validations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datagrid">
                <span class="me-3 h4"><iconify-icon icon="bi:grid-3x3"></iconify-icon></span> Data Grid
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _counterStore.AddStateChangeListeners(ForceUpdateView);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ForceUpdateView()
    {
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        _counterStore.RemoveStateChangeListeners(ForceUpdateView);
    }
}
