@inject NavigationManager _navigationManager
@inject ILocalStorageService _localStorage
@inject AuthenticationStateProvider _authenticationStateProvider
@inject ICartService _cartService

<div class="dropdown">
    <button @onclick="ToggleUserMenu"
            @onfocusout="HideUserMenu"
            class="btn btn-secondary dropdown-toggle user-button">
        <i class="bi bi-person-gear h5"></i>
        <AuthorizeView>
            <Authorized>
                <span>@context.User.Identity.Name</span>
            </Authorized>
            <NotAuthorized>
                <span>Guest</span>
            </NotAuthorized>
        </AuthorizeView>
    </button>
    <div class="dropdown-menu dropdown-menu-right @UserMenuCssClass">
        <AuthorizeView>
            <Authorized>
                <a href="Profile" class="dropdown-item">Profile</a>
                @*
                    <hr />

                       <a href="orders" class="dropdown-item">Orders</a>
                    <hr />
                    <AdminMenu />*@
                <button class="dropdown-item" @onclick="Logout">Logout</button>
            </Authorized>
            <NotAuthorized>
                <a href="login?returnUrl=@_navigationManager.ToBaseRelativePath(_navigationManager.Uri)" class="dropdown-item">Login</a>
                <a href="Register" class="dropdown-item">Register</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private bool showUserMenu = false;

    private string UserMenuCssClass => showUserMenu ? "show-menu" : null;

    private void ToggleUserMenu()
    {
        showUserMenu = !showUserMenu;
    }

    private async Task HideUserMenu()
    {
        await Task.Delay(200);
        showUserMenu = false;
    }

    private async Task Logout()
    {
        await _localStorage.RemoveItemAsync("authToken");
        await _cartService.GetCartItemsCountAsync();
        await _authenticationStateProvider.GetAuthenticationStateAsync();
        _navigationManager.NavigateTo("");
    }
}
