@inject ICategoryService _categoryService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">eCommerceClient...</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span> click

        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @if (_categoryService.Categories != null && _categoryService.Categories.Count > 0)
        {
            @foreach (var category in _categoryService.Categories)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@category.Url">
                        @switch (category.Url)
                        {
                            case "books":
                                <span class="bi bi-book-half h4" aria-hidden="true"></span>
                                break;
                            case "movies":
                                <span class="bi bi-film h4" aria-hidden="true"></span>
                                break;
                            case "video-games":
                                <span class="bi bi-controller h4" aria-hidden="true"></span>
                                break;
                            default:
                                <span class="bi bi-slash-square h4" aria-hidden="true"></span>
                                break;
                        }
                        @category.Name
                    </NavLink>
                </div>
            }
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-dotted h4" aria-hidden="true"></span>Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-cloud-fog2-fill h4" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await _categoryService.GetCategoriesAsync();
    }
}
