<section class="w-100 p-3 border border-2 border-warning">
    <div id="ProjectImages" class="d-flex justify-content-center mb-1 border border-2 border-primary">
        <img src=@project.ImageUrls class="d-block" style="width:250px; height:250px" alt="...">
        <img src=@project.ImageUrls class="d-block" style="width:250px; height:250px" alt="...">
        <img src=@project.ImageUrls class="d-block" style="width:250px; height:250px" alt="...">
    </div>
    
    <div id="Stack" class="d-flex justify-content-center mb-1 border border-2 border-primary">
        <img src=@project.ImageUrls class="d-block" style="width:50px; height:50px" alt="...">
        <img src=@project.ImageUrls class="d-block" style="width:50px; height:50px" alt="...">
        <img src=@project.ImageUrls class="d-block" style="width:50px; height:50px" alt="...">
    </div>
    <div id="Brief" class="d-flex flex-column align-items-center  border border-2 border-primary">
        <h5>@project.Title</h5>
        <p>@project.Description</p>
    </div>
</section>

@code {
    [Parameter]
    public Project project { get; set; }
}
