<section class="position-relative w-100 p-3 border border-2 border-warning">
    <a href="https://github.com/OscarRondon" class="github-icon p-0"><i class="bi bi-github"></i></a>
    <div id="ProjectImages" class="d-flex justify-content-center mb-1 border border-2 border-primary">
        <img src=@project.ImagesUrls[0] class="d-block" style="width:250px; height:250px" alt="...">
        <img src=@project.ImagesUrls[0]  class="d-block" style="width:250px; height:250px" alt="...">
        <img src=@project.ImagesUrls[0]  class="d-block" style="width:250px; height:250px" alt="...">
    </div>
    <div id="Stack" class="d-flex justify-content-center mb-1 border border-2 border-primary">
        <img src=@project.ImagesUrls[0]  class="d-block" style="width:50px; height:50px" alt="...">
        <img src=@project.ImagesUrls[0]  class="d-block" style="width:50px; height:50px" alt="...">
        <img src=@project.ImagesUrls[0]  class="d-block" style="width:50px; height:50px" alt="...">
    </div>
    <div id="Brief" class="d-flex flex-column align-items-center  border border-2 border-primary">
        <h5>@project.Title</h5>
        <p>@project.Description</p>
    </div>
</section>

@code {
    [Parameter]
    public Project project { get; set; }
}
