<section class="StackCard">
    <img class="" alt=@ImgAlt ref=@ImgRef />
    <footer>@CardTitle</footer>
</section>

@code {

    [Parameter]
    public string ImgAlt { get; set; } = "";

    [Parameter]
    public string ImgRef { get; set; } = "";

    [Parameter]
    public string CardCode { get; set; } = "0";

    [Parameter]
    public string CardTitle { get; set; } = "Oscar";
}
