@{
    ViewData["Title"] = "Access Denied";
}
<h2 class="text-center m-auto">Access Denied</h2>
<section class="d-flex justify-content-center m-auto">
    <img class="img-fluid" style="max-width: 35%" src="~/images/AccessDenied.svg" />
</section>
<p class="d-flex justify-content-center m-auto">
    <a class="btn btn-outline-secondary" asp-controller="Movies" asp-action="Index">Home</a>
</p>
