@inherits LayoutComponentBase
<div class="page">


    <header>
        <NavMenu />
    </header>

    <main>
        <section class="top-row px-4">
            <!-- ======= Mobile nav toggle button ======= -->
            <i class="bi bi-list mobile-nav-toggle @hideMobileNavToogleBtn" @onclick="MobileNavToggleButtonHandler"></i>
        </section>

        <section>
            @Body
        </section>
    </main>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code{

    public string hideMobileNavToogleBtn = "";// "d-xl-none";

    public void MobileNavToggleButtonHandler()
    {
        Console.WriteLine("si");
    }

}