@inherits LayoutComponentBase
<div class="page">


    <header class="header-custom @showHideMenu">
        <NavMenu />
    </header>

    <main>
        <i class="@toggleBtnIcon d-xl-none mobile-nav-toggle" @onclick="MobileNavToggleButtonHandler"></i>
        <section>
            @Body
        </section>
    </main>
</div>

@code{

    public string showHideMenu = "d-none d-xl-block";
    public string toggleBtnIcon = "bi bi-list";

    public void MobileNavToggleButtonHandler()
    {
        if (showHideMenu == "d-none d-xl-block")
        {
            showHideMenu = "";
            toggleBtnIcon = "bi bi-x-lg";
        }
        else
        {
            showHideMenu = "d-none d-xl-block";
            toggleBtnIcon = "bi bi-list";
        }
        Console.WriteLine("1");
    }

}