@inherits LayoutComponentBase
<div class="page">


    <header>
        <NavMenu />
    </header>

    <main>
        <article class="top-row px-4">
            <!-- ======= Mobile nav toggle button ======= -->
            <i class="bi bi-list mobile-nav-toggle @hideMobileNavToogleBtn"></i>
        </article>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    public string hideMobileNavToogleBtn = "";// "d-xl-none";

}