{
  "DataBase": {
    "ConnectionStrings": {
      "MSSql": "Data Source={DBServer};Initial Catalog={DBName};User ID={DBUser};Password={DBPwd}; TrustServerCertificate=True; MultipleActiveResultSets=True"
    },
    "DBServer": "(localhost)\\SQLEXPRESS",
    "DBName": "EXPENSETRACKER",
    "DBUser": "<DB User>",
    "DBPwd": "<DB Password>"
  },
  "SyncfusionLicense": "<Set here you license code>"
}