{
  "RapidApi": {
    "WeatherApi": {
      "BaseURL": "https://weatherapi-com.p.rapidapi.com",
      "X-RapidApi-Key": "your key here",
      "X-RapidAPI-Host": "weatherapi-com.p.rapidapi.com"
    }
  }
}