<section id="services" class="services">
    <div class="container-xl">

        <div class="section-title section-title-pt">
            <h2>Services</h2>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 icon-box">
                <div class="icon"><i class="bi bi-clipboard-data-fill"></i></div>
                <h4 class="title"><span href="">Assesment</span></h4>
                <ul class="mt-2">
                    <li><i class="bi bi-chevron-right"></i>Custom Web sites & Applications development</li>
                    <li><i class="bi bi-chevron-right"></i>Custom restAPI development</li>
                    <li><i class="bi bi-chevron-right"></i>SAP Business One Add-ons development</li>
                    <li><i class="bi bi-chevron-right"></i>SAP Business One Integrations development</li>
                    <li><i class="bi bi-chevron-right"></i>SAP Business One Calculated & Analytics views</li>
                    <li><i class="bi bi-chevron-right"></i>SAP Business One Custom reports</li>
                    <li><i class="bi bi-chevron-right"></i>SAP Business One Configuration</li>
                </ul>
            </div>

            <div class="col-12 col-lg-6 icon-box">
                <div class="icon"><i class="bi bi-wrench-adjustable"></i></div>
                <h4 class="title"><span href="">Support</span></h4>
                <ul class="mt-2">
                    <li><i class="bi bi-chevron-right"></i>Web sites & Applications</li>
                    <li><i class="bi bi-chevron-right"></i>restAPI development</li>
                    <li><i class="bi bi-chevron-right"></i>SAP Business One</li>
                    <li><i class="bi bi-chevron-right"></i>Cloud & On-Premise Infrastructure maintenance</li>
                    <li><i class="bi bi-chevron-right"></i>SAP Hana for SAP Business One maintenance</li>
                    <li><i class="bi bi-chevron-right"></i>SAP Business DB Administration</li>
                </ul>
            </div>
        </div>

    </div>
</section>

@code {

}
