@inject IJSRuntime JsRuntime;

<section id="projects" class="portfolio section-bg">
    <div class="container">

        <div class="section-title section-title-pt">
            <h2>Projects</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

    </div>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/CSS-Logo.png" class="d-block" style="width:250px; height:250px" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/Bootstrap-Logo.png"  class="d-block" style="width:250px; height:250px" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/CrystalReport-Logo.png"  class="d-block" style="width:250px; height:250px" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>

@code {

    private string carouselName = "carouselExample"; // NOTE: the ID of the carousel

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            object[] args = { carouselName };
            await JsRuntime.InvokeAsync<object>("startCarousel", args); // NOTE: call JavaScript function with the ID of the carousel
            firstRender = false;
        }
    }

}
