@inject IProjectService _projectService

<section id="projects">
    <div class="container">
        <div class="section-title">
            <h2>Projects</h2>
            <p>Here are a few projects I had worked.</p>
        </div>
        
    </div>

    <div id="carouselWarper" class="d-flex justify-content-center mb-5">
        <div id="carouselProjects" class="carousel carousel-custom carousel-dark slide d-flex justify-content-center">
            <div class="carousel-indicators">
                @for (int i = 0; (i < _projectService.Projects.Count && i <= 4); i++)
                {
                    <button class=@(i == 0 ? "active" : "")
                            type="button"
                            data-bs-target="#carouselProjects"
                            data-bs-slide-to=@i
                            aria-current=@(i == 0 ? "true":"")
                            aria-label=@_projectService.Projects[i].Title>
                    </button>
                }
            </div>
            <div class="carousel-inner carousel-inner-custom">
                @for (int i = 0; (i < _projectService.Projects.Count && i <= 4); i++)
                {
                    <div class="carousel-item w-100 h-100 @(i == 0 ? "active" : "")">
                        <div class="carousel-item-content p-1">
                            <ProjectCard project="@_projectService.Projects[i]" />
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@_projectService.Projects[i].Title</h5>
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjects" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselProjects" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</section>

@code {

    protected override async Task OnInitializedAsync()
    {
        await _projectService.GetProjectsAsync();
    }
}
