<section id="techstack" class="skills section-bg">
    <div class="container-xl">

        <div class="section-title section-title-pt">
            <h2>Tech stack</h2>
        </div>

        <div class="techStackCarWrapper">

            <StackCard CardTitle="HTML" ImgSrc="/img/HTML-Logo.png" />

            <StackCard CardTitle="CSS" ImgSrc="/img/CSS-Logo.png" />

            <StackCard CardTitle="JavaScript" ImgSrc="/img/JavaScript-Logo.png" />

            <StackCard CardTitle="TypeScript" ImgSrc="/img/TypeScript-Logo.png" />

            <StackCard CardTitle="Bootstrap" ImgSrc="/img/Bootstrap-Logo.png" />

            <StackCard CardTitle="Tailwindcss" ImgSrc="/img/Tailwind-Logo.png" />

            <StackCard CardTitle=".Net Core" ImgSrc="/img/NetCore-Logo.png" />

            <StackCard CardTitle="C#" ImgSrc="/img/CSharp-Logo.png" />

            <StackCard CardTitle=".Net Core Blazor" ImgSrc="/img/Blazor-Logo.png" />

            <StackCard CardTitle=".Net Framework" ImgSrc="/img/NetFramework-Logo.png" />

            <StackCard CardTitle="ASP .Net Core MVC" ImgSrc="/img/NetMVC-Logo.png" />

            <StackCard CardTitle="Entity Framework" ImgSrc="/img/EF-logo.png" />

            <StackCard CardTitle="SAP Business One" ImgSrc="/img/SAPB1-Logo.png" />

            <StackCard CardTitle="SAP Business One SDK" ImgSrc="/img/SAPB1SDK-Logo.png" />

            <StackCard CardTitle="SAP Business One SL" ImgSrc="/img/SAPB1SL-Logo.png" />

            <StackCard CardTitle="React" ImgSrc="/img/React-Logo.png" />

            <StackCard CardTitle="Nextjs" ImgSrc="/img/NextJs-Logo.png" />

            <StackCard CardTitle="Nodejs" ImgSrc="/img/NodeJs-Logo.png" />

            <StackCard CardTitle="MS Sql Server" ImgSrc="/img/MSSqlServer-Logo.png" />

            <StackCard CardTitle="MySql" ImgSrc="/img/MySql-Logo.png" />

            <StackCard CardTitle="SAP HANA" ImgSrc="/img/SAPHANA-Logo.png" />

            <StackCard CardTitle="Crystal Report" ImgSrc="/img/CrystalReport-Logo.png" />

            <StackCard CardTitle="AWS" ImgSrc="/img/AWS-Logo.png" />

            <StackCard CardTitle="Azure" ImgSrc="/img/Azure-Logo.png" />

            <StackCard CardTitle="Google Cloud" ImgSrc="/img/GCP-Logo.png" />

            <StackCard CardTitle="Huawei Cloud" ImgSrc="/img/Huawei-Logo.png" />

        </div>
    </div>
</section>

@code {

}
