{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": [ "*" ],
  "SmtpServers": {
    "S1": {
      "Host": "smtp.site.com",
      "Port": 587,
      "User": "email@email.com",
      "Password": "password!!"
    }
  }
}