{
  "DataBase": {
    "ConnectionStrings": {
      "MSSql": "Data Source={DBServer};Initial Catalog={DBName};User ID={DBUser};Password={DBPwd}; TrustServerCertificate=True; MultipleActiveResultSets=True"
    },
    "DBServer": "(localhost)\\SQLEXPRESS",
    "DBName": "EXPENSETRACKER",
    "DBUser": "<DB User>",
    "DBPwd": "<DB Password>"
  },
  "GoogleAuth": {
    "ClientId": "your google id",
    "ClientSecret": "your google secret"

  }
}